In [1]:
# 15. finding union between the set
m={'naveen'}
n=int(input("enter the number of elements "))
for i in range(n):
  m.add(input("enter the element "))
print("elements in set1 ")
print(m)
o={2018,2019,2020}
n=int(input("enter the number of elements "))
for i in range(n):
  o.add(input("enter the element "))
print("elements in set2 ")
print(o) 
k=m|o
print("after set union")
print(k)

enter the number of elements 1
enter the element sakthi
elements in set1
{'naveen', 'sakthi'}
enter the number of elements 1
enter the element sainadh
elements in set2
{2018, 2019, 2020, 'sainadh'}
after set union
{2018, 'naveen', 2019, 2020, 'sainadh', 'sakthi'}

In [1]:
# 16. finding difference between the set
m={'naveen'}
n=int(input("enter the number of elements "))
for i in range(n):
  m.add(input("enter the element "))
print("elements in set1 ")
print(m)
o={2018,2019,2020,'sakhti'}
n=int(input("enter the number of elements "))
for i in range(n):
  o.add(input("enter the element "))
print("elements in set2 ")
print(o) 
k=m.difference(o)
print("after set difference")
print(k)

enter the number of elements 1
enter the element sakthi
elements in set1
{'naveen', 'sakthi'}
enter the number of elements 1
enter the element 2011
elements in set2
{2018, 2019, 2020, '2011', 'sakhti'}
after set difference
{'naveen', 'sakthi'}

In [2]:
# 17. finding intersection between the set
m={'naveen'}
n=int(input("enter the number of elements "))
for i in range(n):
  m.add(input("enter the element "))
print("elements in set1 ")
print(m)
o={2018,2019,2020,'sakthi'}
n=int(input("enter the number of elements "))
for i in range(n):
  o.add(input("enter the element "))
print("elements in set2 ")
print(o) 
k=m&o
print("after intersection")
print(k)

enter the number of elements 1
enter the element sainadh
elements in set1
{'naveen', 'sainadh'}
enter the number of elements 1
enter the element 2011
elements in set2
{2018, 2019, 2020, 'sakthi', '2011'}
after intersection
set()

In [3]:
# 18. finding symmetric difference between the set
m={'naveen'}
n=int(input("enter the number of elements "))
for i in range(n):
  m.add(input("enter the element "))
print("elements in set1 ")
print(m)
o={2018,2019,2020}
n=int(input("enter the number of elements "))
for i in range(n):
  o.add(input("enter the element "))
print("elements in set2 ")
print(o) 
k=m^o
print("after symmetric difference")
print(k)

enter the number of elements 1
enter the element sakthi
elements in set1
{'naveen', 'sakthi'}
enter the number of elements 2
enter the element sakthi
enter the element sainadh
elements in set2
{2018, 2019, 2020, 'sakthi', 'sainadh'}
after symmetric difference
{'naveen', 2018, 2019, 2020, 'sainadh'}

In [9]:
# 19 .insertion and deletion in a set
a=set([2018,'sakthi','mit','naveen',2020])
a.add('sainadh')
a.add('ceg')
a.add(2019)
size=len(a)
print("elemnts in list")
print(a)
a.remove('naveen')
print("after deletion")
print(a)
a.discard(2020)
print("after deletion")
print(a)

elemnts in list
{2018, 2019, 2020, 'ceg', 'mit', 'naveen', 'sakthi', 'sainadh'}
after deletion
{2018, 2019, 2020, 'ceg', 'mit', 'sakthi', 'sainadh'}
after deletion
{2018, 2019, 'ceg', 'mit', 'sakthi', 'sainadh'}

In [10]:
# 20. updation in a set
a=set([2018,'sakthi','mit','naveen',2020])
b={'sainadh','ceg',2019}
print("elemnts in list")
print(a)
a.update(b)
print("after updation")
print(a)

elemnts in list
{2018, 2020, 'mit', 'naveen', 'sakthi'}
after updation
{2018, 2019, 2020, 'ceg', 'mit', 'naveen', 'sakthi', 'sainadh'}